<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Analyzer{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            padding: 20px;
        }
        .content {
            margin-top: 20px;
        }
        footer {
            position: fixed;
            bottom: 0;
            right: 0;
            background-color: white;
            padding: 10px;
            border-top-left-radius: 10px;
            box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Analyzer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bar_analyzer">Bar Analyzer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/box_analyzer">Box Analyzer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/line_analyzer">Line Analyzer</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container content">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <p>By Mohan Yang | <a href="https://github.com/HenryYang03/AutoData_Extraction_from_plots.git" target="_blank">GitHub Repository</a></p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
